%p#notice= notice
%p#error= flash[:error]

= image_tag('user_placeholder.jpg', {class: 'thumbnail-larger  float-left'})

%h3= user.firstname + " " + user.lastname

%p= "contact e-mail: #{user.email}"

%p
  = "joined"
  %span{"data-toggle" => "tooltip", "data-placement" => "right", :title => user.created_at.strftime("%d-%m-%y, %H:%M:%S")}
    = "#{time_ago_in_words(user.created_at)} ago" 

%br
- if last_five_reviews.count == 0
  %p This user has not reviewed any products yet.
- else
  = "Recent reviews by #{user.firstname + " " + user.lastname}:"
  %br
  %br
  - last_five_reviews.each do |review|
    %b= review.rating
    \ -
    = link_to review.product.title + ",", category_product_path(review.product.category.id, review.product.id)
    %span{"data-toggle" => "tooltip", "data-placement" => "right", :title => "I'd rather put \"#{time_ago_in_words(review.created_at)} ago\" here and the full date in the tooltip"}
      = "on " + review.created_at.strftime("%d-%m-%y")
    %p= review.content


%br    
%p
  = link_to "Show all user's products", user_products_path(user.id)
  \&nbsp;|&nbsp;
  = link_to "Show all user's reviews", user_reviews_path(user.id)  
