%h1 Listing categories


%h4.pull-right 
  %span{"data-toggle" => "tooltip", "data-placement" => "left", :href => "#", :title => "Try hovering over different elements for more information"}
    %button.btn
      %b ?

%table.table
  %tr
    %th Category
    %th 
      %span{"data-toggle" => "tooltip", :title => "Highest rated products in the category" } Popular products
    %th
      %span{"data-toggle" => "tooltip", :title => "Number of products in the category" } #
    %th
      %span{"data-toggle" => "tooltip", :title => "The least and most expensive product in the category" } Price range
    - if user_signed_in? && current_user.admin?
      %th Edit
      %th Delete
    
  - categories.each do |category|
    %tr
      %td.lead
        = link_to image_tag('category_placeholder.jpg', {class: 'thumbnail'}) + category.name, category
      
      -# show 3 highest rated products in this category
      %td
        - if category.products.count == 0
          \ -
        - else
          - category.products.sort_by { |x| x.average_rating }.reverse[0...3].each do |popular_product|
            = link_to image_tag('product_placeholder.gif', {class: 'thumbnail', "data-toggle" => "tooltip", "data-container" => "body" , :title => "#{popular_product.title}<br />$#{popular_product.price}" + ( popular_product.average_rating == 0 ? "" : ", rating: #{popular_product.average_rating.round(1)}" )}), category_product_path(popular_product.category.id, popular_product.id) 

          
      %td= category.products.count
      
      -# show lowest and highest price of products in this category
      %td
        - if category.products.count == 0
          \ - 
        - else
          - first,*trash,last = category.products.order(:price)
          %span{"data-toggle" => "tooltip", :title => "#{first.title}<br />$#{first.price}" + ( first.average_rating == 0 ? "" : ", rating: #{first.average_rating.round(1)}" ) }
            = link_to "$" + first.price.to_s, category_product_path(first.category.id, first.id) 
          \ &mdash;
          %span{"data-toggle" => "tooltip", :title => "#{last.title}<br />$#{last.price}" + ( last.average_rating == 0 ? "" : ", rating: #{last.average_rating.round(1)}" ) }
            = link_to "$" + last.price.to_s, category_product_path(last.category.id, last.id) 
        
      - if user_signed_in? && current_user.admin?
        %td= link_to 'Edit', edit_category_path(category)
        %td= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }

%br
- if user_signed_in? && current_user.admin?
  = link_to 'New Category', new_category_path
