

.jumbotron
  %h1 WORKSHOP PROJECT
  %p.lead This is just some placeholder text so the design makes more sense.
  - if user_signed_in?
    - recommended_product = categories[0].products.sort_by { |x| x.average_rating }.reverse[0] # real recommendation would be me complex
    = link_to 'Recommended For You', category_product_path(recommended_product.category.id, recommended_product.id), {class: 'btn btn-my btn-success'}
  - else
    = link_to 'Sign Up Now!', new_user_registration_path, {class: 'btn btn-my btn-success', "data-toggle" => "tooltip", "data-placement" => "bottom", :title => "It's free!"}

.pull-right.lead 
  %span{"data-toggle" => "tooltip", "data-placement" => "left", :href => "#", :title => "Try hovering over different elements for more information.<br/><br/>This icon stops glowing after hovering over it."}
    %button.btn.btn-default.info-attention
      %b ?

%table.table
  %tr
    %th Category
    %th 
      %span{"data-toggle" => "tooltip", :title => "The highest rated products in the category" } Popular products
    %th
      %span{"data-toggle" => "tooltip", :title => "Number of products in the category" } #
    %th
      %span{"data-toggle" => "tooltip", :title => "The least and the most expensive product in the category" } Price range
    - if user_signed_in? && current_user.admin?
      %th Edit
      %th Delete
    
  - categories.each do |category|
    %tr
      %td.lead
        = link_to image_tag('category_placeholder.jpg', {class: 'thumbnail float-left'}) + category.name, category
      
      -# show 5 highest rated products in this category
      %td
        - if category.products.count == 0
          %span{"data-toggle" => "tooltip", :title => "There are no products in this category" } &ndash;
        - else
          - category.products.sort_by { |x| x.average_rating }.reverse[0...5].each do |popular_product|
            = link_to image_tag('product_placeholder.gif', {class: 'thumbnail float-left', "data-toggle" => "tooltip", "data-container" => "body" , :title => "#{popular_product.title}<br />$#{popular_product.price}" + ( popular_product.average_rating == 0 ? "" : ", rating: #{popular_product.average_rating.round(1)}" )}), category_product_path(popular_product.category.id, popular_product.id) 

          
      %td= category.products.count
      
      -# show lowest and highest price of products in this category
      %td
        - if category.products.count == 0
          %span{"data-toggle" => "tooltip", :title => "There are no products in this category" } &ndash;
        - elsif category.products.count == 1
          %span{"data-toggle" => "tooltip", :title => "There is only one product in this category" } &ndash;
        - else
          - first,*trash,last = category.products.order(:price)
          %span{"data-toggle" => "tooltip", :title => "#{first.title}<br />$#{first.price}" + ( first.average_rating == 0 ? "" : ", rating: #{first.average_rating.round(1)}" ) }
            = link_to "$" + first.price.to_s, category_product_path(first.category.id, first.id) 
          \ &ndash;
          %span{"data-toggle" => "tooltip", :title => "#{last.title}<br />$#{last.price}" + ( last.average_rating == 0 ? "" : ", rating: #{last.average_rating.round(1)}" ) }
            = link_to "$" + last.price.to_s, category_product_path(last.category.id, last.id) 
        
      - if user_signed_in? && current_user.admin?
        %td= link_to 'Edit', edit_category_path(category)
        %td= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }

%br
%br
- if user_signed_in? && current_user.admin?
  = link_to 'Add new category', new_category_path, { class: 'btn btn-primary', "data-toggle" => "tooltip", :title => "You are an admin. Tread lightly." }
