%p#notice= notice

%h4
  \ icon
  %b= category.name

- if category.products.count == 0
  \ There are no products in this category.
- else  
  %table.table
    %tr
      %th Product
      %th Description
      %th Price
      %th Rating

    - category.products.each do |product|
      %tr
        %td.lead
          = link_to image_tag('product_placeholder.gif', {class: 'thumbnail'}) + product.title, category_product_path(product.category, product)
        %td= product.description
        %td= product.price
        %td= product.average_rating == 0 ? "-" : product.average_rating.round(1)

        - if user_signed_in? && current_user == product.user
          %td= link_to 'Edit', edit_category_product_path(product.category, product)
          %td= link_to 'Delete', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }

%br    
    
- if user_signed_in?
  %p
    %h3 New product
    = render 'products/form'

- if user_signed_in? && current_user.admin?
  = link_to 'Edit', edit_category_path(category)
  \|
= link_to 'Back', categories_path, class: 'btn btn-primary'
