%br
- if user_signed_in?
  .pull-right.not-that-far.lead 
    %span{"data-toggle" => "tooltip", "data-placement" => "left", :href => "#", :title => "To edit or delete your products, access your products list from your account profile - click the user avatar above"}
      %button.btn.btn-default.info-attention
        %b ?
- else
  .pull-right.not-that-far.lead 
    %span{"data-toggle" => "tooltip", "data-placement" => "left", :href => "#", :title => "Log in to add or manage products"}
      %button.btn.btn-default.info-attention
        %b ?
        
%h2.category-margin
  = image_tag('category_placeholder.jpg', {class: 'thumbnail float-left'})
  %b= category.name

%br

- if category.products.count == 0
  \ There are no products in this category.
- else  
  .container-fluid.container-padded-more
    - category.products.each_slice(3) do |threes|
      .row
        - threes.each do |product|
          .col-lg-4
            .nice-product-page
              = link_to image_tag('product_placeholder.gif', {class: 'thumbnail-largest'}), category_product_path(product.category, product)
              %h4
                %b= product.title
              %p
                &nbsp;
                %span= "$#{product.price}"
                - if product.average_rating != 0
                  %span.pull-right.not-that-far= "rating: #{product.average_rating.round(1)}"
      %br
      



%br
%br    
    
- if user_signed_in?
  %p
    %h3 Add new product:
    = render 'products/form'

-#- if user_signed_in? && current_user.admin?
-#  = link_to 'Edit', edit_category_path(category)
-#  \|
= link_to 'Back to categories', categories_path, class: 'btn btn-primary'
