= form_for [category, product] do |f|
  - if product.errors.any?
    #error_explanation
      %h4= "#{pluralize(product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - product.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :title, class: 'form-control', placeholder: "Title"
  .form-group
    = f.text_area :description, class: 'form-control', placeholder: "Description"
  .form-group
    = f.text_field :price, class: 'form-control', placeholder: "Price (in dollars)"

  = f.submit 'Save product', class: 'btn btn-lg btn-primary'
