%h1
  Listing products by 
  = user.firstname + " " + user.lastname

- if products.count == 0
  \ This user has not added any products yet.
- else  
  %table.table
    %tr
      %th Title
      %th Description
      %th Price
      - if user_signed_in? && current_user == user
        %th Edit
        %th Delete

    - products.each do |product|
      %tr
        %td.lead
          = link_to image_tag('product_placeholder.gif', {class: 'thumbnail'}) + product.title, category_product_path(product.category, product)
        %td= product.description
        %td= product.price
        - if user_signed_in? && current_user == product.user
          %td= link_to 'Edit', edit_category_product_path(product.category, product)
          %td= link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }

%br
