%p#notice= notice
%p#error= flash[:error]

%div
  = image_tag('product_placeholder.gif', {class: 'thumbnail-largest'})

  %p
    %b icon here

  %p
    %b Title:
    = product.title
    
  %p
    %b Price:
    = "$#{product.price}"
    
  %p
    %b Rating:
    = product.average_rating.round(1)
    
  %p
    %b Category:
    = link_to product.category.name, product.category
  
  %p
    %b Added by:
    = link_to product.user.firstname + " " + product.user.lastname, product.user
    %span{"data-toggle" => "tooltip", "data-placement" => "right", :title => product.created_at.strftime("%d-%m-%y, %H:%M:%S")}
      = "#{time_ago_in_words(product.created_at)} ago" 

%div.cleared
  %p
    %b Description:
    = product.description


%h3 User reviews:
  
= render reviews  
  
- if user_signed_in?
  = render 'reviews/form'
- else
  %p You have to log in to write a review.

- if user_signed_in? && current_user == product.user
  = link_to 'Edit', edit_category_product_path(category.id, product.id)
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary'
