

%div
  = image_tag('product_placeholder.gif', {class: 'thumbnail-largest float-left'})

  %h3
    %b
      = product.title
    
  %p
    %b Price:
    = "$#{product.price}"
  
  - if product.average_rating != 0  
    %p
      %b Rating:
      = product.average_rating.round(1)
    
  %p
    %b Category:
    = link_to product.category.name, product.category
  
  %p
    %b Added by:
    = link_to product.user.firstname + " " + product.user.lastname, product.user
    %span{"data-toggle" => "tooltip", "data-placement" => "right", :title => product.created_at.strftime("%d-%m-%y, %H:%M:%S")}
      = "#{time_ago_in_words(product.created_at)} ago" 

%div.cleared
  %br
  %p
    %b Description:
    = product.description

%br
%h3 User reviews:
  
= render reviews  

- if reviews.count == 0
  %p You can be the first one to review this product!
  
- if user_signed_in?
  = render 'reviews/form'
- else
  %p
    = link_to "Log in", new_user_session_path
    \ to write a review.

%br
-#- if user_signed_in? && current_user == product.user
-#  = link_to 'Edit', edit_category_product_path(category.id, product.id)
-#  \|
= link_to 'Back to products', category_products_path, class: 'btn btn-primary'
