%h2
  Listing reviews by
  = link_to user.firstname + " " + user.lastname, user
%br  
- if reviews.count == 0
  \ This user has not reviewed any products yet.
- reviews.each do |review|
  %blockquote
    %p
      %em= review.content
    %footer
      %b= "rated: " + review.rating.to_s
      \ -
      = link_to review.product.title + ",", category_product_path(review.product.category.id, review.product.id)
      %span{"data-toggle" => "tooltip", "data-placement" => "right", :title => "I'd rather put \"#{time_ago_in_words(review.created_at)} ago\" here and the full date in the tooltip"}
        = "on " + review.created_at.strftime("%d-%m-%y")
