!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container-narrow
      %nav.navbar.navbar-default
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %ul.nav.nav-pills.pull-right
          - if user_signed_in?
            = link_to image_tag('user_placeholder.jpg', {class: 'thumbnail  float-left absolute-nav-ava', "data-toggle" => "tooltip", "data-placement" => "bottom", :title => current_user.email}), current_user
         
            %li= link_to "Log out", destroy_user_session_path, :method => :delete
          - else
            %li= link_to "Log in", new_user_session_path
            %li= link_to "Sign up", new_user_registration_path

      .row
        .col-lg-12
          = yield
          
      .push-it-down
      %hr
      .footer
        %p A Netguru workshop project, augmented by Konrad Piekutowski